 .sidebar {
   background: var(--color-1);
   font-family: 'Nova Round',
     cursive;
   height: 100%;
   min-height: var(--minHeight);
   border-radius: var(--borderRaduis);
   position: relative;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 250px 1fr 108px;
   grid-template-areas:
     "1"
     "2"
     "3";

   .id {
     grid-area: 1;
     text-align: center;
     user-select: none;
     position: relative;

     .idContent {
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 100%;

       img {
         border-radius: 50%;
         box-shadow: 0 0 0 4px var(--color-3), 0 0 0 8px var(--color-4), 0 0 0 12px var(--color-2)
       }

       h3 {
         font-size: 1.3rem;
         text-transform: uppercase;
         letter-spacing: .2rem;
         margin-top: 1.5rem;
         color: var(--color-5);

       }
     }
   }

   .navigation {
     grid-area: 2;
     padding: 2rem 1rem;

     ul {
       height: 100%;
       display: grid;

       li {
         padding: 1rem 0 1rem .4rem;
         font-size: 1.3rem;
         position: relative;

         &:hover i {
           transform: translate(3px, 3px);
         }

         a {
           color: var(--color-5);
         }


       }
     }
   }
 }

 .navigation ul li a .active {
   color: red;
 }

 a .navActive {
   background: red;
 }
